doctype html
include header.pug
	title= "Who Are You?"
	link(href="/get-login-css" rel="stylesheet")
body
	div(class="login-form")
		h1 LOGIN
		div(id="notification-area")
			p #{notification}
		form(action="/login" method="POST")
			input(type="text" name="login" placeholder="LOGIN")
			br
			input(type="password" name="password" placeholder="PASSWORD")
			br
			input(type="submit" value="LOGIN")
		a(href="/register") REGISTER